* {
    border: none; outline: none;
    font-family: 'menlo';
    transition: all .8s ease;
}

:root {
    --Light-Green: #0efa54;
    --Light-Brown: #b84900;
    --Green: #09A136;
    --orange: #FF6919;
}

.text {
    color: #fff;
}

.times {
    color: #f00;
    font-size: 1.2rem;
    font-weight: 900;
    cursor: pointer;
}

.active {
    text-decoration: line-through #000;
}

.active1 {
    background: #666;
}

li {
    list-style-type: none;
}

body{
    z-index: -1000;
    height: 100%;
    background: linear-gradient(275deg, var(--Light-Green), var(--Green), var(--orange), var(--Light-Brown));
    background-size: 400%;
    border-radius: 30px;
    animation: gradient 5s infinite linear;
}

@keyframes gradient{
    0%{
        background-position: 0% 30%;
    }

    50%{
        background-position: 70% 100%;
    }

    100%{
        background-position: 0% 30%;
    }
}

.content {
    position: relative;
    padding: 0 .5rem .8rem .5rem;
    border: 1px solid #000;
    width: 35%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(17, 52, 166, .8);
    border-radius: 1.2rem;
    border: 4px dashed #0080fe;
}

.content:hover {
    width: 45%;
    padding: 0 1.5rem 1.5rem 1.5rem;
    background: #0080fe;
    border-color: #6693f5;
    background: rgba(17, 52, 166, .6);
    border-radius: 1.6rem;
}

.content:hover .text {
    color: rgba(255, 255, 255, .4);
}

h1 {
    position: relative;
    color: #ff0;
    font-size: 4rem;
    left: 38.5%;
    width: 35%;
}

form {
    position: relative;
    left: 30%; top: .6rem;
    width: 40%;
}

form .input {
    position: relative;
    padding: .5rem .7rem;
    border-radius: 5rem;
    background: var(--orange);
    width: 70%;
    top: -.8rem;

}

form button {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;

}

form button img {
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    right: .47rem; top: -.1rem;
}

ul {
    position: relative;
    width: 50%;
    align-items: center;
    left: 23%; top: 1.3rem;
}

ul li {
    position: relative;
    padding: .7rem;
    border-radius: 5rem;
    background: #924ed1;
    width: 189%;
    left: -60%;
    margin-top: 1rem;
}

.content:hover ul li {
    width: 40rem;
    left: -57%;
    padding-left: 2rem;
}

.times {
    position: absolute;
    left: 100%;
    background: none;
    color: rgba(0, 0, 0, 0);
    padding: .7rem;
    top: -.1rem;
}

li:hover .times {
    padding-left: 3rem;
    background: #4d006d;
    color: #f00;
    left: 89.9%;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

.datetime {
    position: absolute;
    z-index: 100;
    background: rgb(106, 76, 226);
    margin-left: 3rem;
}

.attn-container {
    position: relative;
    background: rgba(0, 0, 0, .4);
    width: 20%;
    margin-top: 20.5rem;
    padding: 1rem;
    border-radius: 2rem;
}

.attn-container .attn {
    font-size: 8px;
    color: #fff;
    padding: 3px;
    border-radius: 1rem;
}

.attn-container .arm {
    background: red;
}

.attn-container .rus {
    background: blue;
}

.attn-container .eng {
    background: rgb(255, 132, 0);
}